[submodule "VizEngine/vendor/imgui"]
	path = VizEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VizEngine/vendor/spdlog"]
	path = VizEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
